.formulario {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #CDA394; /* Color de borde actualizado */
  border-radius: 8px;
  background-color: #F7F0E9; /* Fondo claro */
}

.formulario h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #7D1628; /* Color del título */
}

.formulario label {
  display: block;
  margin: 15px 0 5px;
  font-size: 16px;
  color: #9B3A44; /* Color de las etiquetas */
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #CDA394; /* Color de borde */
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6EBD6; /* Fondo claro para los inputs */
  color: #7D1628; /* Texto oscuro */
}

.formulario textarea {
  height: 150px;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #E8BB5C; /* Color del borde al enfocar */
  outline: none;
}

.formulario button {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: #9B3A44; /* Fondo del botón */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #7D1628; /* Fondo del botón al hacer hover */
}